# Application Configuration
spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}

  application:
    name: ${SPRING_APPLICATION_NAME:Finavex}

  # Enable output of ANSI colors in the console
  output:
    ansi:
      enabled: always

  threads:
    virtual:
      enabled: true

server:
  port: 8080


springdoc:
  api-docs:
    enabled: true # Disable Api Docs in production if needed


application:
  security:
    jwt:
      secret-key: ${JWT_SECRET}
      expiration: ${JWT_EXPIRATION}
      refresh-token:
        expiration: ${JWT_REFRESH_TOKEN}

ai:
  provider: github
  base-url: ${API_URL_BASE_AI}
  model: gpt-5-mini
  timeout: 10000