name: push to main from backend

on: 
  push:
    branches:
      - backend

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          
      - name: config git
        run: |
          git config user.name "merge BOT backend"
          git config user.email "mergeBackend@gmail.com"

      - name: merge
        run: |
          git checkout main
          git merge backend -X theirs --no-edit
          git push origin main
        
